* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--bg);
  font-family: "Gangwon", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

body > div {
  max-width: 390px; /* 모바일 사이즈 고정 */
  width: 100%;
  min-height: 100vh;
  background: var(--bg, #fff);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}

:root {
  --snb-width: 200px;
  scrollbar-width: 0.5px;
  scroll-behavior: smooth;
}

:root::-webkit-scrollbar {
  width: 5px;
}
:root::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #ccc;
}

button {
  cursor: pointer;
}

@media (max-width: 1024px) {
  :root {
    --snb-width: 64px;
  }
}

@font-face {
  font-family: "Gangwon";
  font-weight: 300;
  font-display: swap;
  src: url("../_assets/fonts/gangwon-light.otf") format("opentype");
}

@font-face {
  font-family: "Gangwon";
  font-weight: 700;
  font-display: swap;
  src: url("../_assets/fonts/gangwon-bold.otf") format("opentype");
}
